<section>
    <h2 class="title">Create a New Blog Post</h2>
    <hr>
    <a href="/dashboard" class="is-pulled-right">← Back to Dashboard</a>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title" class="input" placeholder="Enter blog title here" required />
        </div>
        <div>
            <label for="post-content">Content:</label>
            <textarea id="post-content" name="post-content" class="textarea is-large" placeholder="Enter blog content here" required></textarea>
        </div>
        <button type="submit" class="button is-primary is-pulled-right">Create Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>
